<<<<<<< Updated upstream
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffbe50;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-conatiner{
    right: auto;
=======
.ul-container{
    margin-left: auto;
}
.container-fluid{
    padding: 0% 0% 0% 5%;
}
.navbar-collapse{
    padding: 0% 5% 0% 0%;
}
.navbar{
    background-color: rgb(255, 189, 7) !important;
    
}
.home{
    padding: 0% 0% 0% 3%;
>>>>>>> Stashed changes
}