@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Shojumaru", cursive;
  background-color: #1d1d1d;
}

.navigation{
  height: 4rem;
  width: 100%;
  background-color: #1d1d1d80;
  z-index: 101;
  position: fixed;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navigation .blue{
  color: #51B4FC;
}

.navigation .white {
  color: #f5f5f5;
}

.navigation li{
  margin: 0.8rem;
  font-size: 1.2rem;
  transition: all ease 0.3s;
}


.navigation li a:hover{
  font-size: 1.5rem;
  transition: all ease 0.3s;
}

.center{
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 20rem;
  height: 33rem;
}