@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Shojumaru", cursive;
  background-color: #1d1d1d;
}
